infrastructure/app-stack.yaml
AWSTemplateFormatVersion: '2010-09-09'
Description: 'Main Application Infrastructure for Lightship AI Project with ALB Lambda Integration'

Parameters:
  ProjectName:
    Type: String
    Default: lightship
    Description: Name of the project for resource naming
    
  Environment:
    Type: String
    Default: mvp
    AllowedValues: [mvp, dev, staging, production]

  VPCStackName:
    Type: String
    Default: lightship-mvp-vpc
    Description: Name of VPC CloudFormation stack

  DomainName:
    Type: String
    Default: ""
    Description: Domain name for ALB (optional - HTTP only)

  CertificateArn:
    Type: String
    Default: ""
    Description: ACM Certificate ARN for HTTPS (optional)

  AllowedAlbIngressCidr:
    Type: String
    Default: 176.228.16.138/32
    Description: Single operator CIDR allowed to reach the ALB

  AdditionalAllowedAlbIngressCidr:
    Type: String
    Default: ""
    Description: Optional second operator CIDR allowed to reach the ALB

  AdditionalAllowedAlbIngressCidr2:
    Type: String
    Default: ""
    Description: Optional third operator CIDR allowed to reach the ALB

  AdditionalAllowedAlbIngressCidr3:
    Type: String
    Default: ""
    Description: Optional fourth operator CIDR allowed to reach the ALB

  FrontendImageUri:
    Type: String
    Description: Full ECR image URI for the active frontend task definition

  BackendImageUri:
    Type: String
    Description: Full ECR image URI for the backend Lambda container

  LambdaWarmupScheduleExpression:
    Type: String
    Default: rate(5 minutes)
    Description: EventBridge schedule expression for backend Lambda warmup

Conditions:
  HasDomain: !Not [!Equals [!Ref DomainName, ""]]
  HasCertificate: !Not [!Equals [!Ref CertificateArn, ""]]
  NoCertificate: !Equals [!Ref CertificateArn, ""]
  HasAdditionalAlbIngressCidr: !Not [!Equals [!Ref AdditionalAllowedAlbIngressCidr, ""]]
  HasAdditionalAlbIngressCidr2: !Not [!Equals [!Ref AdditionalAllowedAlbIngressCidr2, ""]]
  HasAdditionalAlbIngressCidr3: !Not [!Equals [!Ref AdditionalAllowedAlbIngressCidr3, ""]]
  HasCertificateAndAdditionalAlbIngressCidr: !And
    - !Condition HasCertificate
    - !Condition HasAdditionalAlbIngressCidr
  HasCertificateAndAdditionalAlbIngressCidr2: !And
    - !Condition HasCertificate
    - !Condition HasAdditionalAlbIngressCidr2
  HasCertificateAndAdditionalAlbIngressCidr3: !And
    - !Condition HasCertificate
    - !Condition HasAdditionalAlbIngressCidr3

Resources:
  # ECR Repositories
  FrontendECRRepository:
    Type: AWS::ECR::Repository
    Properties:
      RepositoryName: !Sub '${ProjectName}-frontend'
      ImageScanningConfiguration:
        ScanOnPush: true
      LifecyclePolicy:
        LifecyclePolicyText: |
          {
            "rules": [
              {
                "rulePriority": 1,
                "description": "Keep last 10 images",
                "selection": {
                  "tagStatus": "any",
                  "countType": "imageCountMoreThan",
                  "countNumber": 10
                },
                "action": {
                  "type": "expire"
                }
              }
            ]
          }
      Tags:
        - Key: Name
          Value: !Sub '${ProjectName}-${Environment}-frontend-ecr'
        - Key: Environment
          Value: !Ref Environment

  BackendECRRepository:
    Type: AWS::ECR::Repository
    Properties:
      RepositoryName: !Sub '${ProjectName}-backend'
      ImageScanningConfiguration:
        ScanOnPush: true
      LifecyclePolicy:
        LifecyclePolicyText: |
          {
            "rules": [
              {
                "rulePriority": 1,
                "description": "Keep last 10 images",
                "selection": {
                  "tagStatus": "any",
                  "countType": "imageCountMoreThan",
                  "countNumber": 10
                },
                "action": {
                  "type": "expire"
                }
              }
            ]
          }
      Tags:
        - Key: Name
          Value: !Sub '${ProjectName}-${Environment}-backend-ecr'
        - Key: Environment
          Value: !Ref Environment

  # S3 Buckets
  LanceDBBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Sub '${ProjectName}-${Environment}-lancedb-${AWS::AccountId}'
      VersioningConfiguration:
        Status: Enabled
      BucketEncryption:
        ServerSideEncryptionConfiguration:
          - ServerSideEncryptionByDefault:
              SSEAlgorithm: AES256
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true
      Tags:
        - Key: Name
          Value: !Sub '${ProjectName}-${Environment}-lancedb'
        - Key: Environment
          Value: !Ref Environment

  ConversationResultsBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Sub '${ProjectName}-${Environment}-conversations-${AWS::AccountId}'
      VersioningConfiguration:
        Status: Enabled
      BucketEncryption:
        ServerSideEncryptionConfiguration:
          - ServerSideEncryptionByDefault:
              SSEAlgorithm: AES256
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true
      LifecycleConfiguration:
        Rules:
          - Id: DeleteOldVersions
            Status: Enabled
            NoncurrentVersionExpirationInDays: 30
      Tags:
        - Key: Name
          Value: !Sub '${ProjectName}-${Environment}-conversations'
        - Key: Environment
          Value: !Ref Environment

  # Note: CustomDatasourcesBucket (s3-lightship-custom-datasources-us-east-1) exists externally - referenced by name only

  # Security Groups

  ALBSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupName: !Sub '${ProjectName}-${Environment}-alb-sg'
      GroupDescription: Security group for internet-facing Application Load Balancer
      VpcId:
        Fn::ImportValue: !Sub '${ProjectName}-${Environment}-vpc-id'
      SecurityGroupEgress: []
      Tags:
        - Key: Name
          Value: !Sub '${ProjectName}-${Environment}-alb-sg'
        - Key: Environment
          Value: !Ref Environment

  ECSSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupName: !Sub '${ProjectName}-${Environment}-ecs-sg'
      GroupDescription: Security group for ECS tasks
      VpcId:
        Fn::ImportValue: !Sub '${ProjectName}-${Environment}-vpc-id'
      SecurityGroupEgress:
        - IpProtocol: -1
          CidrIp: 0.0.0.0/0
          Description: All outbound traffic
      Tags:
        - Key: Name
          Value: !Sub '${ProjectName}-${Environment}-ecs-sg'
        - Key: Environment
          Value: !Ref Environment

  LambdaSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupName: !Sub '${ProjectName}-${Environment}-lambda-sg'
      GroupDescription: Security group for Lambda backend in VPC - outbound only
      VpcId:
        Fn::ImportValue: !Sub '${ProjectName}-${Environment}-vpc-id'
      SecurityGroupEgress:
        - IpProtocol: -1
          CidrIp: 0.0.0.0/0
          Description: All outbound traffic
      Tags:
        - Key: Name
          Value: !Sub '${ProjectName}-${Environment}-lambda-sg'
        - Key: Environment
          Value: !Ref Environment

  ALBIngressHTTPFromOperator:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: !Ref ALBSecurityGroup
      IpProtocol: tcp
      FromPort: 80
      ToPort: 80
      CidrIp: !Ref AllowedAlbIngressCidr
      Description: HTTP from the single allowed operator CIDR

  ALBIngressHTTPSFromOperator:
    Type: AWS::EC2::SecurityGroupIngress
    Condition: HasCertificate
    Properties:
      GroupId: !Ref ALBSecurityGroup
      IpProtocol: tcp
      FromPort: 443
      ToPort: 443
      CidrIp: !Ref AllowedAlbIngressCidr
      Description: HTTPS from the single allowed operator CIDR

  ALBIngressHTTPFromAdditionalOperator:
    Type: AWS::EC2::SecurityGroupIngress
    Condition: HasAdditionalAlbIngressCidr
    Properties:
      GroupId: !Ref ALBSecurityGroup
      IpProtocol: tcp
      FromPort: 80
      ToPort: 80
      CidrIp: !Ref AdditionalAllowedAlbIngressCidr
      Description: HTTP from the additional allowed operator CIDR

  ALBIngressHTTPSFromAdditionalOperator:
    Type: AWS::EC2::SecurityGroupIngress
    Condition: HasCertificateAndAdditionalAlbIngressCidr
    Properties:
      GroupId: !Ref ALBSecurityGroup
      IpProtocol: tcp
      FromPort: 443
      ToPort: 443
      CidrIp: !Ref AdditionalAllowedAlbIngressCidr
      Description: HTTPS from the additional allowed operator CIDR

  ALBIngressHTTPFromAdditionalOperator2:
    Type: AWS::EC2::SecurityGroupIngress
    Condition: HasAdditionalAlbIngressCidr2
    Properties:
      GroupId: !Ref ALBSecurityGroup
      IpProtocol: tcp
      FromPort: 80
      ToPort: 80
      CidrIp: !Ref AdditionalAllowedAlbIngressCidr2
      Description: HTTP from the second additional allowed operator CIDR

  ALBIngressHTTPSFromAdditionalOperator2:
    Type: AWS::EC2::SecurityGroupIngress
    Condition: HasCertificateAndAdditionalAlbIngressCidr2
    Properties:
      GroupId: !Ref ALBSecurityGroup
      IpProtocol: tcp
      FromPort: 443
      ToPort: 443
      CidrIp: !Ref AdditionalAllowedAlbIngressCidr2
      Description: HTTPS from the second additional allowed operator CIDR

  ALBIngressHTTPFromAdditionalOperator3:
    Type: AWS::EC2::SecurityGroupIngress
    Condition: HasAdditionalAlbIngressCidr3
    Properties:
      GroupId: !Ref ALBSecurityGroup
      IpProtocol: tcp
      FromPort: 80
      ToPort: 80
      CidrIp: !Ref AdditionalAllowedAlbIngressCidr3
      Description: HTTP from the third additional allowed operator CIDR

  ALBIngressHTTPSFromAdditionalOperator3:
    Type: AWS::EC2::SecurityGroupIngress
    Condition: HasCertificateAndAdditionalAlbIngressCidr3
    Properties:
      GroupId: !Ref ALBSecurityGroup
      IpProtocol: tcp
      FromPort: 443
      ToPort: 443
      CidrIp: !Ref AdditionalAllowedAlbIngressCidr3
      Description: HTTPS from the third additional allowed operator CIDR

  ALBEgressToFrontend:
    Type: AWS::EC2::SecurityGroupEgress
    Properties:
      GroupId: !Ref ALBSecurityGroup
      IpProtocol: tcp
      FromPort: 3000
      ToPort: 3000
      DestinationSecurityGroupId: !Ref ECSSecurityGroup
      Description: Forward traffic only to the frontend task SG

  ECSIngressFromALB:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: !Ref ECSSecurityGroup
      IpProtocol: tcp
      FromPort: 3000
      ToPort: 3000
      SourceSecurityGroupId: !Ref ALBSecurityGroup
      Description: Next.js frontend from ALB

  # IAM Roles
  ECSTaskExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${ProjectName}-${Environment}-ecs-execution-role'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: ecs-tasks.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AmazonECSTaskExecutionRolePolicy
      Tags:
        - Key: Name
          Value: !Sub '${ProjectName}-${Environment}-ecs-execution-role'
        - Key: Environment
          Value: !Ref Environment

  ECSTaskRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${ProjectName}-${Environment}-ecs-task-role'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: ecs-tasks.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: CloudWatchLogs
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: '*'
        - PolicyName: S3Access
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - s3:PutObject
                Resource:
                  - !Sub 'arn:aws:s3:::${ProjectName}-${Environment}-processing-${AWS::AccountId}/input/*'
                  - !Sub 'arn:aws:s3:::s3-${ProjectName}-custom-datasources-${AWS::Region}/*'
              - Effect: Allow
                Action:
                  - s3:GetObject
                Resource:
                  - !Sub 'arn:aws:s3:::${ProjectName}-${Environment}-processing-${AWS::AccountId}/results/*'
                  - !Sub 'arn:aws:s3:::s3-${ProjectName}-custom-datasources-${AWS::Region}/*'
              - Effect: Allow
                Action:
                  - s3:ListBucket
                Resource:
                  - !Sub 'arn:aws:s3:::${ProjectName}-${Environment}-processing-${AWS::AccountId}'
                  - !Sub 'arn:aws:s3:::s3-${ProjectName}-custom-datasources-${AWS::Region}'
        - PolicyName: SQSAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - sqs:SendMessage
                Resource: !Sub 'arn:aws:sqs:${AWS::Region}:${AWS::AccountId}:${ProjectName}-${Environment}-processing-queue'
        - PolicyName: DynamoDBAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - dynamodb:PutItem
                  - dynamodb:GetItem
                  - dynamodb:Query
                  - dynamodb:UpdateItem
                Resource:
                  - !Sub 'arn:aws:dynamodb:${AWS::Region}:${AWS::AccountId}:table/${ProjectName}_jobs'
                  - !Sub 'arn:aws:dynamodb:${AWS::Region}:${AWS::AccountId}:table/${ProjectName}_jobs/index/*'
        - PolicyName: SecretsManagerAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - secretsmanager:GetSecretValue
                Resource: !Sub 'arn:aws:secretsmanager:${AWS::Region}:${AWS::AccountId}:secret:${ProjectName}/${Environment}/*'
        - PolicyName: KMSAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - kms:Decrypt
                  - kms:Encrypt
                  - kms:GenerateDataKey
                Resource: !Sub 'arn:aws:kms:${AWS::Region}:${AWS::AccountId}:key/*'
      Tags:
        - Key: Name
          Value: !Sub '${ProjectName}-${Environment}-ecs-task-role'
        - Key: Environment
          Value: !Ref Environment

  LambdaExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${ProjectName}-${Environment}-lambda-role'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
        - arn:aws:iam::aws:policy/service-role/AWSLambdaVPCAccessExecutionRole
        - arn:aws:iam::aws:policy/AWSXRayDaemonWriteAccess
      Policies:
        - PolicyName: ECRAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - ecr:GetDownloadUrlForLayer
                  - ecr:BatchGetImage
                  - ecr:BatchCheckLayerAvailability
                  - ecr:GetAuthorizationToken
                Resource: '*'
        - PolicyName: BedrockAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - bedrock:InvokeModel
                  - bedrock:InvokeModelWithResponseStream
                Resource:
                  - !Sub 'arn:aws:bedrock:*::foundation-model/anthropic.claude-sonnet-4-20250514-v1:0'
                  - !Sub 'arn:aws:bedrock:*::foundation-model/anthropic.claude-3-7-sonnet-20250219-v1:0'
                  - !Sub 'arn:aws:bedrock:*::foundation-model/anthropic.claude-3-sonnet-20240229-v1:0'
                  - !Sub 'arn:aws:bedrock:*::foundation-model/anthropic.claude-3-5-sonnet-20241022-v2:0'
                  - !Sub 'arn:aws:bedrock:*::foundation-model/anthropic.claude-3-5-sonnet-20240620-v1:0'
                  - !Sub 'arn:aws:bedrock:*::foundation-model/anthropic.claude-3-haiku-20240307-v1:0'
                  - !Sub 'arn:aws:bedrock:*::foundation-model/amazon.titan-embed-text-v2:0'
                  - !Sub 'arn:aws:bedrock:*:${AWS::AccountId}:inference-profile/*'
        - PolicyName: S3Access
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              # Processing bucket: delete_objects used by DELETE /jobs bulk purge.
              - Effect: Allow
                Action:
                  - s3:GetObject
                  - s3:PutObject
                  - s3:DeleteObject
                Resource:
                  - !Sub 'arn:aws:s3:::${ProjectName}-${Environment}-processing-${AWS::AccountId}/*'
              - Effect: Allow
                Action:
                  - s3:GetObject
                  - s3:PutObject
                Resource:
                  - !Sub '${LanceDBBucket.Arn}/*'
                  - !Sub '${ConversationResultsBucket.Arn}/*'
                  - !Sub 'arn:aws:s3:::s3-${ProjectName}-custom-datasources-${AWS::Region}/*'
              - Effect: Allow
                Action:
                  - s3:ListBucket
                Resource:
                  - !GetAtt LanceDBBucket.Arn
                  - !GetAtt ConversationResultsBucket.Arn
                  - !Sub 'arn:aws:s3:::s3-${ProjectName}-custom-datasources-${AWS::Region}'
                  - !Sub 'arn:aws:s3:::${ProjectName}-${Environment}-processing-${AWS::AccountId}'
        - PolicyName: VisionLabelerAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - ecs:RunTask
                  - ecs:StopTask
                  - ecs:DescribeTasks
                Resource: '*'
              - Effect: Allow
                Action:
                  - iam:PassRole
                Resource: !Sub 'arn:aws:iam::${AWS::AccountId}:role/${ProjectName}-${Environment}-inference-worker-task-role'
        - PolicyName: DynamoDBAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - dynamodb:PutItem
                  - dynamodb:GetItem
                  - dynamodb:UpdateItem
                  - dynamodb:Query
                  - dynamodb:Scan
                  - dynamodb:DeleteItem
                Resource:
                  - !Sub 'arn:aws:dynamodb:${AWS::Region}:${AWS::AccountId}:table/${ProjectName}_jobs'
                  - !Sub 'arn:aws:dynamodb:${AWS::Region}:${AWS::AccountId}:table/${ProjectName}_jobs/index/*'
        - PolicyName: SQSAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - sqs:ReceiveMessage
                  - sqs:DeleteMessage
                  - sqs:GetQueueAttributes
                  - sqs:SendMessage
                Resource:
                  - !Sub 'arn:aws:sqs:${AWS::Region}:${AWS::AccountId}:${ProjectName}-${Environment}-processing-queue'
                  - !Sub 'arn:aws:sqs:${AWS::Region}:${AWS::AccountId}:${ProjectName}-${Environment}-processing-dlq'
        - PolicyName: StepFunctionsAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - states:StartExecution
                  - states:DescribeExecution
                  - states:ListExecutions
                Resource: !Sub 'arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:${ProjectName}-*'
        - PolicyName: SNSAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - sns:Publish
                Resource: !Sub 'arn:aws:sns:${AWS::Region}:${AWS::AccountId}:${ProjectName}-${Environment}-notifications'
        - PolicyName: SecretsManagerAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - secretsmanager:GetSecretValue
                  - secretsmanager:DescribeSecret
                Resource: !Sub 'arn:aws:secretsmanager:${AWS::Region}:${AWS::AccountId}:secret:${ProjectName}/${Environment}/*'
        - PolicyName: KMSAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - kms:Decrypt
                  - kms:Encrypt
                  - kms:GenerateDataKey
                  - kms:GenerateDataKey*
                  - kms:DescribeKey
                Resource: !Sub 'arn:aws:kms:${AWS::Region}:${AWS::AccountId}:key/*'
      Tags:
        - Key: Name
          Value: !Sub '${ProjectName}-${Environment}-lambda-role'
        - Key: Environment
          Value: !Ref Environment

  # Application Load Balancer
  ApplicationLoadBalancer:
    Type: AWS::ElasticLoadBalancingV2::LoadBalancer
    Properties:
      Name: !Sub '${ProjectName}-${Environment}-alb'
      Type: application
      Scheme: internet-facing
      IpAddressType: ipv4
      SecurityGroups:
        - !Ref ALBSecurityGroup
      Subnets:
        - Fn::ImportValue: !Sub '${ProjectName}-${Environment}-public-subnet-1'
        - Fn::ImportValue: !Sub '${ProjectName}-${Environment}-public-subnet-2'
      Tags:
        - Key: Name
          Value: !Sub '${ProjectName}-${Environment}-alb'
        - Key: Environment
          Value: !Ref Environment

  # Target Group for Frontend.
  # ``Port`` on a TG is used only as the default registration port — because
  # we register ``TargetType: ip`` ECS tasks and ECS supplies an explicit
  # containerPort=3000 at registration, the TG's own Port value is
  # cosmetic. We leave it at the historical 8501 to avoid a resource
  # replacement on existing deployments; health-check port is 3000 which
  # is what actually matters.
  FrontendTargetGroup:
    Type: AWS::ElasticLoadBalancingV2::TargetGroup
    Properties:
      Name: !Sub '${ProjectName}-${Environment}-frontend-tg'
      Port: 8501
      Protocol: HTTP
      VpcId:
        Fn::ImportValue: !Sub '${ProjectName}-${Environment}-vpc-id'
      TargetType: ip
      HealthCheckPath: /
      HealthCheckPort: '3000'
      HealthCheckIntervalSeconds: 30
      HealthCheckTimeoutSeconds: 10
      HealthyThresholdCount: 2
      UnhealthyThresholdCount: 3
      Tags:
        - Key: Name
          Value: !Sub '${ProjectName}-${Environment}-frontend-tg'
        - Key: Environment
          Value: !Ref Environment

  # Target Group for Backend Lambda (Lambda function will be added later)
  BackendTargetGroup:
    Type: AWS::ElasticLoadBalancingV2::TargetGroup
    Properties:
      Name: !Sub '${ProjectName}-${Environment}-backend-tg'
      TargetType: lambda
      HealthCheckEnabled: false
      Targets:
        - Id: !GetAtt BackendLambdaFunction.Arn
      Tags:
        - Key: Name
          Value: !Sub '${ProjectName}-${Environment}-backend-tg'
        - Key: Environment
          Value: !Ref Environment

  # ALB HTTP Listener
  ALBListenerHTTP:
    Type: AWS::ElasticLoadBalancingV2::Listener
    Condition: NoCertificate
    Properties:
      LoadBalancerArn: !Ref ApplicationLoadBalancer
      Protocol: HTTP
      Port: 80
      DefaultActions:
        - Type: forward
          TargetGroupArn: !Ref FrontendTargetGroup

  ALBListenerHTTPRedirect:
    Type: AWS::ElasticLoadBalancingV2::Listener
    Condition: HasCertificate
    Properties:
      LoadBalancerArn: !Ref ApplicationLoadBalancer
      Protocol: HTTP
      Port: 80
      DefaultActions:
        - Type: redirect
          RedirectConfig:
            Protocol: HTTPS
            Port: '443'
            StatusCode: HTTP_301

  ALBListenerHTTPS:
    Type: AWS::ElasticLoadBalancingV2::Listener
    Condition: HasCertificate
    Properties:
      LoadBalancerArn: !Ref ApplicationLoadBalancer
      Protocol: HTTPS
      Port: 443
      Certificates:
        - CertificateArn: !Ref CertificateArn
      DefaultActions:
        - Type: forward
          TargetGroupArn: !Ref FrontendTargetGroup

  # ALB Listener Rule for Backend API paths (priority 100 - core routes)
  BackendListenerRule:
    Type: AWS::ElasticLoadBalancingV2::ListenerRule
    Properties:
      ListenerArn: !If [HasCertificate, !Ref ALBListenerHTTPS, !Ref ALBListenerHTTP]
      Priority: 100
      Conditions:
        - Field: path-pattern
          Values:
            - '/health'
            - '/process-video'
            - '/status/*'
            - '/results/*'
            - '/download/*'
      Actions:
        - Type: forward
          TargetGroupArn: !Ref BackendTargetGroup

  # Upload / history / cleanup routes (priority 99)
  BackendListenerRuleUpload:
    Type: AWS::ElasticLoadBalancingV2::ListenerRule
    Properties:
      ListenerArn: !If [HasCertificate, !Ref ALBListenerHTTPS, !Ref ALBListenerHTTP]
      Priority: 99
      Conditions:
        - Field: path-pattern
          Values:
            - '/presign-upload'
            - '/jobs'
            - '/cleanup/*'
      Actions:
        - Type: forward
          TargetGroupArn: !Ref BackendTargetGroup

  # Single-image + client-config + S3 start + video class (priority 98).
  # ALB limits path-pattern conditions to 5 values per rule, so Phase 4
  # batch-related paths live on a separate rule below.
  BackendListenerRuleExtra:
    Type: AWS::ElasticLoadBalancingV2::ListenerRule
    Properties:
      ListenerArn: !If [HasCertificate, !Ref ALBListenerHTTPS, !Ref ALBListenerHTTP]
      Priority: 98
      Conditions:
        - Field: path-pattern
          Values:
            - '/process-image'
            - '/client-configs/*'
            - '/process-s3-video'
            - '/video-class/*'
            - '/frames/*'
      Actions:
        - Type: forward
          TargetGroupArn: !Ref BackendTargetGroup

  # Phase 4 batch endpoints (priority 97).
  BackendListenerRuleBatch:
    Type: AWS::ElasticLoadBalancingV2::ListenerRule
    Properties:
      ListenerArn: !If [HasCertificate, !Ref ALBListenerHTTPS, !Ref ALBListenerHTTP]
      Priority: 97
      Conditions:
        - Field: path-pattern
          Values:
            - '/batch/*'
            - '/process-s3-prefix'
      Actions:
        - Type: forward
          TargetGroupArn: !Ref BackendTargetGroup

  # ECS Cluster
  ECSCluster:
    Type: AWS::ECS::Cluster
    Properties:
      ClusterName: !Sub '${ProjectName}-${Environment}-cluster'
      CapacityProviders:
        - FARGATE
        - FARGATE_SPOT
      DefaultCapacityProviderStrategy:
        - CapacityProvider: FARGATE
          Weight: 1
      ClusterSettings:
        - Name: containerInsights
          Value: disabled
      Tags:
        - Key: Name
          Value: !Sub '${ProjectName}-${Environment}-cluster'
        - Key: Environment
          Value: !Ref Environment

  # CloudWatch Log Groups
  FrontendLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub '/ecs/${ProjectName}-${Environment}-frontend'
      RetentionInDays: 7

  BackendLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub '/aws/lambda/${ProjectName}-${Environment}-backend'
      RetentionInDays: 7

  # =========================================
  # KMS - Customer Managed Key for encryption at rest
  # =========================================
  LightshipKMSKey:
    Type: AWS::KMS::Key
    Properties:
      Description: !Sub 'CMK for ${ProjectName}-${Environment} encryption at rest (S3, SQS, DynamoDB, CloudWatch Logs)'
      Enabled: true
      EnableKeyRotation: true
      KeyPolicy:
        Version: '2012-10-17'
        Statement:
          - Sid: EnableRootAccountAccess
            Effect: Allow
            Principal:
              AWS: !Sub 'arn:aws:iam::${AWS::AccountId}:root'
            Action: 'kms:*'
            Resource: '*'
      Tags:
        - Key: Name
          Value: !Sub 'cmk-${Environment}-${ProjectName}'
        - Key: Environment
          Value: !Ref Environment

  LightshipKMSKeyAlias:
    Type: AWS::KMS::Alias
    Properties:
      AliasName: !Sub 'alias/${ProjectName}-${Environment}'
      TargetKeyId: !Ref LightshipKMSKey

  # =========================================
  # S3 - Main Processing Bucket (dashcam pipeline)
  # =========================================
  ProcessingBucket:
    Type: AWS::S3::Bucket
    DependsOn: LightshipKMSKey
    Properties:
      BucketName: !Sub '${ProjectName}-${Environment}-processing-${AWS::AccountId}'
      VersioningConfiguration:
        Status: Enabled
      BucketEncryption:
        ServerSideEncryptionConfiguration:
          - ServerSideEncryptionByDefault:
              SSEAlgorithm: aws:kms
              KMSMasterKeyID: !GetAtt LightshipKMSKey.Arn
            BucketKeyEnabled: true
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true
      # CORS: allow browser PUTs from the ALB (and localhost for dev) against
      # the presigned upload URLs. Without this the browser blocks the direct
      # S3 upload and reports "Failed to fetch".
      CorsConfiguration:
        CorsRules:
          - AllowedHeaders: ['*']
            AllowedMethods: [PUT, POST, GET, HEAD]
            AllowedOrigins:
              - !Sub 'http://${ApplicationLoadBalancer.DNSName}'
              - !Sub 'https://${ApplicationLoadBalancer.DNSName}'
              - http://localhost:3000
              - http://localhost:8000
            ExposedHeaders: [ETag, x-amz-request-id, x-amz-id-2]
            MaxAge: 3600
      LifecycleConfiguration:
        Rules:
          - Id: ExpireProcessingFrames
            Status: Enabled
            Prefix: processing/frames/
            ExpirationInDays: 14
          - Id: ExpireSelectedFrames
            Status: Enabled
            Prefix: processing/selected_frames/
            ExpirationInDays: 30
          - Id: ExpireDetectionResults
            Status: Enabled
            Prefix: processing/detection_results/
            ExpirationInDays: 30
          - Id: ExpireInputs
            Status: Enabled
            Prefix: input/
            ExpirationInDays: 60
          - Id: ExpireResults
            Status: Enabled
            Prefix: results/
            ExpirationInDays: 180
      Tags:
        - Key: Name
          Value: !Sub '${ProjectName}-${Environment}-processing'
        - Key: Environment
          Value: !Ref Environment

  # =========================================
  # DynamoDB - Job Status Tracking
  # =========================================
  JobsTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: !Sub '${ProjectName}_jobs'
      BillingMode: PAY_PER_REQUEST
      SSESpecification:
        SSEEnabled: true
        SSEType: KMS
        KMSMasterKeyId: !GetAtt LightshipKMSKey.Arn
      AttributeDefinitions:
        - AttributeName: job_id
          AttributeType: S
        - AttributeName: user_id
          AttributeType: S
        - AttributeName: created_at
          AttributeType: S
      KeySchema:
        - AttributeName: job_id
          KeyType: HASH
      GlobalSecondaryIndexes:
        - IndexName: user_id-index
          KeySchema:
            - AttributeName: user_id
              KeyType: HASH
            - AttributeName: created_at
              KeyType: RANGE
          Projection:
            ProjectionType: ALL
      PointInTimeRecoverySpecification:
        PointInTimeRecoveryEnabled: true
      Tags:
        - Key: Name
          Value: !Sub '${ProjectName}-${Environment}-jobs'
        - Key: Environment
          Value: !Ref Environment

  # =========================================
  # SQS - Processing Queue + Dead Letter Queue
  # =========================================
  ProcessingDLQ:
    Type: AWS::SQS::Queue
    Properties:
      QueueName: !Sub '${ProjectName}-${Environment}-processing-dlq'
      MessageRetentionPeriod: 1209600
      KmsMasterKeyId: !GetAtt LightshipKMSKey.Arn
      Tags:
        - Key: Name
          Value: !Sub 'sqs-${Environment}-processing-dlq'
        - Key: Environment
          Value: !Ref Environment

  ProcessingQueue:
    Type: AWS::SQS::Queue
    Properties:
      QueueName: !Sub '${ProjectName}-${Environment}-processing-queue'
      VisibilityTimeout: 900
      MessageRetentionPeriod: 345600
      KmsMasterKeyId: !GetAtt LightshipKMSKey.Arn
      RedrivePolicy:
        deadLetterTargetArn: !GetAtt ProcessingDLQ.Arn
        maxReceiveCount: 3
      Tags:
        - Key: Name
          Value: !Sub 'sqs-${Environment}-processing-queue'
        - Key: Environment
          Value: !Ref Environment

  # =========================================
  # SNS - Notification Topic (completion/failure)
  # =========================================
  NotificationTopic:
    Type: AWS::SNS::Topic
    Properties:
      TopicName: !Sub '${ProjectName}-${Environment}-notifications'
      KmsMasterKeyId: !GetAtt LightshipKMSKey.Arn
      Tags:
        - Key: Name
          Value: !Sub 'sns-${Environment}-notifications'
        - Key: Environment
          Value: !Ref Environment

  # =========================================
  # Secrets Manager - Configuration & Prompts
  # =========================================
  ConfigSecret:
    Type: AWS::SecretsManager::Secret
    Properties:
      Name: !Sub '${ProjectName}/${Environment}/config'
      Description: !Sub 'Configuration for ${ProjectName} ${Environment} - detection thresholds, model parameters, prompts'
      KmsKeyId: !GetAtt LightshipKMSKey.Arn
      SecretString: !Sub |
        {
          "bedrock_model_id": "us.anthropic.claude-sonnet-4-5-20250929-v1:0",
          "detection_confidence_threshold": 0.7,
          "frame_sampling_rate": 2,
          "max_concurrent_workers": 5,
          "detector_backend": "auto",
          "lane_backend": "ufldv2",
          "max_snapshots_per_video": 10,
          "snapshot_strategy": "scene_change"
        }
      Tags:
        - Key: Name
          Value: !Sub '${ProjectName}-${Environment}-config-secret'
        - Key: Environment
          Value: !Ref Environment

  # =========================================
  # Step Functions - Execution IAM Role
  # =========================================
  StepFunctionsExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${ProjectName}-${Environment}-sfn-execution-role'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: StepFunctionsLambdaInvoke
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource: !Sub 'arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${ProjectName}-*'
        - PolicyName: StepFunctionsAIServices
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - bedrock:InvokeModel
                  - bedrock:InvokeModelWithResponseStream
                Resource: '*'
        - PolicyName: StepFunctionsDataAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - s3:GetObject
                  - s3:PutObject
                Resource:
                  - !Sub '${ProcessingBucket.Arn}/*'
              - Effect: Allow
                Action:
                  - s3:ListBucket
                Resource:
                  - !GetAtt ProcessingBucket.Arn
              - Effect: Allow
                Action:
                  - dynamodb:UpdateItem
                  - dynamodb:GetItem
                  - dynamodb:PutItem
                Resource: !GetAtt JobsTable.Arn
              - Effect: Allow
                Action:
                  - sns:Publish
                Resource: !Ref NotificationTopic
              - Effect: Allow
                Action:
                  - sqs:SendMessage
                Resource: !GetAtt ProcessingQueue.Arn
        - PolicyName: StepFunctionsEncryption
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - kms:Decrypt
                  - kms:Encrypt
                  - kms:GenerateDataKey
                Resource: !GetAtt LightshipKMSKey.Arn
        - PolicyName: StepFunctionsLogging
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              # Direct log writes (rarely used by SFN itself but harmless).
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: '*'
              # Step Functions vended-logs integration uses the CloudWatch
              # Logs "log delivery" API. These permissions must be on * per
              # the docs — they're administrative actions tied to the
              # account-wide logs resource policy, not to a specific group.
              # https://docs.aws.amazon.com/step-functions/latest/dg/cw-logs.html
              - Effect: Allow
                Action:
                  - logs:CreateLogDelivery
                  - logs:GetLogDelivery
                  - logs:UpdateLogDelivery
                  - logs:DeleteLogDelivery
                  - logs:ListLogDeliveries
                  - logs:PutResourcePolicy
                  - logs:DescribeResourcePolicies
                  - logs:DescribeLogGroups
                Resource: '*'
        - PolicyName: StepFunctionsTracing
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - xray:PutTraceSegments
                  - xray:PutTelemetryRecords
                  - xray:GetSamplingRules
                  - xray:GetSamplingTargets
                Resource: '*'
      Tags:
        - Key: Name
          Value: !Sub '${ProjectName}-${Environment}-sfn-execution-role'
        - Key: Environment
          Value: !Ref Environment

  # =========================================
  # Worker ECS Security Group (no inbound)
  # =========================================
  WorkerSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupName: !Sub 'sgr-${Environment}-worker'
      GroupDescription: Security group for ECS Worker tasks - no inbound, outbound to VPC endpoints and NAT
      VpcId:
        Fn::ImportValue: !Sub '${ProjectName}-${Environment}-vpc-id'
      SecurityGroupEgress:
        - IpProtocol: -1
          CidrIp: 0.0.0.0/0
          Description: All outbound traffic
      Tags:
        - Key: Name
          Value: !Sub 'sgr-${Environment}-worker'
        - Key: Environment
          Value: !Ref Environment

  # Worker CloudWatch Log Group
  WorkerLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub '/ecs/${ProjectName}-${Environment}-worker'
      RetentionInDays: 7

  StepFunctionsLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub '/aws/states/${ProjectName}-${Environment}'
      RetentionInDays: 7

  VPCEndpointSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupName: !Sub 'sgr-${Environment}-vpc-endpoints'
      GroupDescription: Security group for VPC Interface Endpoints - allows HTTPS from private and data subnets
      VpcId:
        Fn::ImportValue: !Sub '${ProjectName}-${Environment}-vpc-id'
      Tags:
        - Key: Name
          Value: !Sub 'sgr-${Environment}-vpc-endpoints'
        - Key: Environment
          Value: !Ref Environment
        - Key: Project
          Value: !Ref ProjectName

  VPCEndpointIngressFromECS:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: !Ref VPCEndpointSecurityGroup
      IpProtocol: tcp
      FromPort: 443
      ToPort: 443
      SourceSecurityGroupId: !Ref ECSSecurityGroup
      Description: HTTPS from the frontend ECS service

  VPCEndpointIngressFromLambda:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: !Ref VPCEndpointSecurityGroup
      IpProtocol: tcp
      FromPort: 443
      ToPort: 443
      SourceSecurityGroupId: !Ref LambdaSecurityGroup
      Description: HTTPS from the backend Lambda

  VPCEndpointIngressFromWorker:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: !Ref VPCEndpointSecurityGroup
      IpProtocol: tcp
      FromPort: 443
      ToPort: 443
      SourceSecurityGroupId: !Ref WorkerSecurityGroup
      Description: HTTPS from worker tasks

  ECRApiEndpoint:
    Type: AWS::EC2::VPCEndpoint
    Properties:
      VpcId:
        Fn::ImportValue: !Sub '${ProjectName}-${Environment}-vpc-id'
      ServiceName: !Sub 'com.amazonaws.${AWS::Region}.ecr.api'
      VpcEndpointType: Interface
      PrivateDnsEnabled: true
      SubnetIds:
        - Fn::ImportValue: !Sub '${ProjectName}-${Environment}-private-app-subnet-1'
        - Fn::ImportValue: !Sub '${ProjectName}-${Environment}-private-app-subnet-2'
      SecurityGroupIds:
        - !Ref VPCEndpointSecurityGroup
      Tags:
        - Key: Name
          Value: !Sub 'vpce-${Environment}-ecr-api'
        - Key: Environment
          Value: !Ref Environment

  ECRDkrEndpoint:
    Type: AWS::EC2::VPCEndpoint
    Properties:
      VpcId:
        Fn::ImportValue: !Sub '${ProjectName}-${Environment}-vpc-id'
      ServiceName: !Sub 'com.amazonaws.${AWS::Region}.ecr.dkr'
      VpcEndpointType: Interface
      PrivateDnsEnabled: true
      SubnetIds:
        - Fn::ImportValue: !Sub '${ProjectName}-${Environment}-private-app-subnet-1'
        - Fn::ImportValue: !Sub '${ProjectName}-${Environment}-private-app-subnet-2'
      SecurityGroupIds:
        - !Ref VPCEndpointSecurityGroup
      Tags:
        - Key: Name
          Value: !Sub 'vpce-${Environment}-ecr-dkr'
        - Key: Environment
          Value: !Ref Environment

  CloudWatchLogsEndpoint:
    Type: AWS::EC2::VPCEndpoint
    Properties:
      VpcId:
        Fn::ImportValue: !Sub '${ProjectName}-${Environment}-vpc-id'
      ServiceName: !Sub 'com.amazonaws.${AWS::Region}.logs'
      VpcEndpointType: Interface
      PrivateDnsEnabled: true
      SubnetIds:
        - Fn::ImportValue: !Sub '${ProjectName}-${Environment}-private-app-subnet-1'
        - Fn::ImportValue: !Sub '${ProjectName}-${Environment}-private-app-subnet-2'
      SecurityGroupIds:
        - !Ref VPCEndpointSecurityGroup
      Tags:
        - Key: Name
          Value: !Sub 'vpce-${Environment}-cloudwatch-logs'
        - Key: Environment
          Value: !Ref Environment

  FrontendTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: !Sub '${ProjectName}-${Environment}-frontend'
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      Cpu: 512
      Memory: 1024
      ExecutionRoleArn: !GetAtt ECSTaskExecutionRole.Arn
      TaskRoleArn: !GetAtt ECSTaskRole.Arn
      ContainerDefinitions:
        - Name: frontend
          Image: !Ref FrontendImageUri
          PortMappings:
            - ContainerPort: 3000
              Protocol: tcp
          Environment:
            - Name: PORT
              Value: '3000'
            - Name: NODE_ENV
              Value: production
            - Name: NEXT_PUBLIC_API_BASE
              Value: ''
            - Name: ALLOWED_HOSTS
              Value: !If
                - HasDomain
                - !Sub '${ApplicationLoadBalancer.DNSName},${DomainName}'
                - !GetAtt ApplicationLoadBalancer.DNSName
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: !Ref FrontendLogGroup
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
          Essential: true
      Tags:
        - Key: Name
          Value: !Sub '${ProjectName}-${Environment}-frontend-task'
        - Key: Environment
          Value: !Ref Environment

  FrontendECSService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: !Sub '${ProjectName}-${Environment}-frontend-service'
      Cluster:
        Fn::ImportValue: !Sub '${ProjectName}-${Environment}-ecs-cluster'
      TaskDefinition: !Ref FrontendTaskDefinition
      LaunchType: FARGATE
      DesiredCount: 1
      DeploymentConfiguration:
        MaximumPercent: 200
        MinimumHealthyPercent: 50
      HealthCheckGracePeriodSeconds: 60
      NetworkConfiguration:
        AwsvpcConfiguration:
          SecurityGroups:
            - Fn::ImportValue: !Sub '${ProjectName}-${Environment}-ecs-sg-id'
          Subnets:
            - Fn::ImportValue: !Sub '${ProjectName}-${Environment}-private-app-subnet-1'
            - Fn::ImportValue: !Sub '${ProjectName}-${Environment}-private-app-subnet-2'
          AssignPublicIp: DISABLED
      LoadBalancers:
        - ContainerName: frontend
          ContainerPort: 3000
          TargetGroupArn:
            Fn::ImportValue: !Sub '${ProjectName}-${Environment}-frontend-target-group-arn'
      Tags:
        - Key: Name
          Value: !Sub '${ProjectName}-${Environment}-frontend-service'
        - Key: Environment
          Value: !Ref Environment

  ECSServiceAutoScalingTarget:
    Type: AWS::ApplicationAutoScaling::ScalableTarget
    Properties:
      MaxCapacity: 4
      MinCapacity: 1
      ResourceId: !Sub 'service/${ProjectName}-${Environment}-cluster/${FrontendECSService.Name}'
      RoleARN: !Sub 'arn:aws:iam::${AWS::AccountId}:role/aws-service-role/ecs.application-autoscaling.amazonaws.com/AWSServiceRoleForApplicationAutoScaling_ECSService'
      ScalableDimension: ecs:service:DesiredCount
      ServiceNamespace: ecs

  ECSServiceScalingPolicy:
    Type: AWS::ApplicationAutoScaling::ScalingPolicy
    Properties:
      PolicyName: !Sub '${ProjectName}-${Environment}-ecs-scaling-policy'
      PolicyType: TargetTrackingScaling
      ScalingTargetId: !Ref ECSServiceAutoScalingTarget
      TargetTrackingScalingPolicyConfiguration:
        PredefinedMetricSpecification:
          PredefinedMetricType: ECSServiceAverageCPUUtilization
        TargetValue: 70.0
        ScaleOutCooldown: 300
        ScaleInCooldown: 300

  BackendLambdaFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub '${ProjectName}-${Environment}-backend'
      PackageType: Image
      Code:
        ImageUri: !Ref BackendImageUri
      Role: !GetAtt LambdaExecutionRole.Arn
      MemorySize: 3008
      Timeout: 900
      TracingConfig:
        Mode: Active
      VpcConfig:
        SubnetIds:
          - Fn::ImportValue: !Sub '${ProjectName}-${Environment}-private-app-subnet-1'
          - Fn::ImportValue: !Sub '${ProjectName}-${Environment}-private-app-subnet-2'
        SecurityGroupIds:
          - !Ref LambdaSecurityGroup
      Environment:
        Variables:
          ENVIRONMENT: !Ref Environment
          LOG_LEVEL: INFO
          LOG_FORMAT: json
          EMIT_METRICS: 'true'
          METRICS_NAMESPACE: Lightship/Backend
          DYNAMODB_TABLE: !Ref JobsTable
          PROCESSING_BUCKET: !Ref ProcessingBucket
          LANCEDB_BUCKET: !Ref LanceDBBucket
          CONVERSATIONS_BUCKET: !Ref ConversationResultsBucket
          DATA_SOURCE_BUCKET: !Sub 's3-${ProjectName}-custom-datasources-${AWS::Region}'
          CUSTOM_DATASOURCES_BUCKET: !Sub 's3-${ProjectName}-custom-datasources-${AWS::Region}'
          PROCESSING_QUEUE_URL: !Ref ProcessingQueue
          PIPELINE_STATE_MACHINE_ARN: !Sub 'arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:${ProjectName}-${Environment}-pipeline'
          # Sonnet 4 v1 is LEGACY in Bedrock and was never granted Marketplace
          # access for this account; v4.5 (20250929) is ACTIVE and granted.
          BEDROCK_MODEL_ID: us.anthropic.claude-sonnet-4-5-20250929-v1:0
          DETECTOR_BACKEND: 'auto'
          LANE_BACKEND: 'ufldv2'
      Tags:
        - Key: Name
          Value: !Sub '${ProjectName}-${Environment}-backend'
        - Key: Environment
          Value: !Ref Environment

  LambdaInvokePermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !Ref BackendLambdaFunction
      Action: lambda:InvokeFunction
      Principal: elasticloadbalancing.amazonaws.com
      SourceArn: !Ref BackendTargetGroup

  LambdaWarmupRule:
    Type: AWS::Events::Rule
    Properties:
      Name: !Sub '${ProjectName}-${Environment}-lambda-warmup'
      Description: Keep the backend Lambda warm for ALB health traffic
      ScheduleExpression: !Ref LambdaWarmupScheduleExpression
      State: ENABLED
      Targets:
        - Id: LambdaWarmup
          Arn: !GetAtt BackendLambdaFunction.Arn
          Input: >-
            {"requestContext":{"elb":{"targetGroupArn":"warmup"}},"httpMethod":"GET","path":"/health","queryStringParameters":null,"headers":{"host":"warmup"},"body":null,"isBase64Encoded":false}

  LambdaWarmupInvokePermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !Ref BackendLambdaFunction
      Action: lambda:InvokeFunction
      Principal: events.amazonaws.com
      SourceArn: !GetAtt LambdaWarmupRule.Arn

  PipelineStateMachineLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub '/aws/vendedlogs/states/${ProjectName}-${Environment}-pipeline'
      RetentionInDays: 30

  LightshipPipelineStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Sub '${ProjectName}-${Environment}-pipeline'
      StateMachineType: STANDARD
      RoleArn: !GetAtt StepFunctionsExecutionRole.Arn
      LoggingConfiguration:
        Destinations:
          - CloudWatchLogsLogGroup:
              LogGroupArn: !GetAtt PipelineStateMachineLogGroup.Arn
        Level: ERROR
        IncludeExecutionData: false
      TracingConfiguration:
        Enabled: true
      DefinitionSubstitutions:
        PipelineFunctionArn: !GetAtt BackendLambdaFunction.Arn
      DefinitionString: !Sub |
        {
          "Comment": "Lightship video processing pipeline. SQS dispatcher enqueues a job, this state machine runs Pipeline.process_video as a Lambda task and catches failures to mark Dynamo FAILED.",
          "StartAt": "RunPipeline",
          "States": {
            "RunPipeline": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${!PipelineFunctionArn}",
                "Payload": {
                  "action": "pipeline_stage",
                  "job_id.$": "$.job_id",
                  "s3_key.$": "$.s3_key",
                  "filename.$": "$.filename",
                  "config.$": "$.config"
                }
              },
              "ResultSelector": {
                "status.$": "$.Payload.status",
                "job_id.$": "$.Payload.job_id"
              },
              "ResultPath": "$.pipeline_result",
              "TimeoutSeconds": 870,
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 5,
                  "MaxAttempts": 3,
                  "BackoffRate": 2.0
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "ResultPath": "$.error",
                  "Next": "MarkFailed"
                }
              ],
              "Next": "Succeed"
            },
            "MarkFailed": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${!PipelineFunctionArn}",
                "Payload": {
                  "action": "mark_failed",
                  "job_id.$": "$.job_id",
                  "error.$": "$.error"
                }
              },
              "ResultPath": "$.mark_failed_result",
              "Next": "Fail"
            },
            "Succeed": {
              "Type": "Succeed"
            },
            "Fail": {
              "Type": "Fail",
              "Error": "PipelineFailed",
              "Cause": "See Dynamo job_id for error detail"
            }
          }
        }

  ProcessingQueueEventSource:
    Type: AWS::Lambda::EventSourceMapping
    Properties:
      EventSourceArn:
        Fn::ImportValue: !Sub '${ProjectName}-${Environment}-processing-queue-arn'
      FunctionName: !Sub 'arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${ProjectName}-${Environment}-backend'
      BatchSize: 1
      FunctionResponseTypes:
        - ReportBatchItemFailures
      Enabled: true

  # =========================================
  # CloudWatch Alarms
  # =========================================
  DLQDepthAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmName: !Sub '${ProjectName}-${Environment}-dlq-depth'
      AlarmDescription: Alert when messages arrive in the dead letter queue
      Namespace: AWS/SQS
      MetricName: ApproximateNumberOfMessagesVisible
      Dimensions:
        - Name: QueueName
          Value: !GetAtt ProcessingDLQ.QueueName
      Statistic: Sum
      Period: 60
      EvaluationPeriods: 1
      Threshold: 0
      ComparisonOperator: GreaterThanThreshold
      AlarmActions:
        - !Ref NotificationTopic
      TreatMissingData: notBreaching

  ALB5XXAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmName: !Sub '${ProjectName}-${Environment}-alb-5xx'
      AlarmDescription: Alert on ALB 5XX error rate exceeding threshold
      Namespace: AWS/ApplicationELB
      MetricName: HTTPCode_ELB_5XX_Count
      Dimensions:
        - Name: LoadBalancer
          Value: !GetAtt ApplicationLoadBalancer.LoadBalancerFullName
      Statistic: Sum
      Period: 300
      EvaluationPeriods: 1
      Threshold: 5
      ComparisonOperator: GreaterThanThreshold
      AlarmActions:
        - !Ref NotificationTopic
      TreatMissingData: notBreaching

  ECSCPUAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmName: !Sub '${ProjectName}-${Environment}-ecs-cpu-high'
      AlarmDescription: Alert when ECS CPU utilization exceeds 80%
      Namespace: AWS/ECS
      MetricName: CPUUtilization
      Dimensions:
        - Name: ClusterName
          Value: !Ref ECSCluster
      Statistic: Average
      Period: 300
      EvaluationPeriods: 2
      Threshold: 80
      ComparisonOperator: GreaterThanThreshold
      AlarmActions:
        - !Ref NotificationTopic
      TreatMissingData: notBreaching

  # =========================================
  # CloudWatch Dashboard
  # =========================================
  LightshipDashboard:
    Type: AWS::CloudWatch::Dashboard
    Properties:
      DashboardName: !Sub '${ProjectName}-${Environment}-dashboard'
      DashboardBody: !Sub |
        {
          "widgets": [
            {
              "type": "metric",
              "x": 0, "y": 0, "width": 12, "height": 6,
              "properties": {
                "title": "ALB Request Count & Errors",
                "metrics": [
                  ["AWS/ApplicationELB", "RequestCount", "LoadBalancer", "${ApplicationLoadBalancer.LoadBalancerFullName}", {"stat": "Sum"}],
                  ["AWS/ApplicationELB", "HTTPCode_ELB_5XX_Count", "LoadBalancer", "${ApplicationLoadBalancer.LoadBalancerFullName}", {"stat": "Sum", "color": "#d62728"}],
                  ["AWS/ApplicationELB", "HTTPCode_Target_4XX_Count", "LoadBalancer", "${ApplicationLoadBalancer.LoadBalancerFullName}", {"stat": "Sum", "color": "#ff7f0e"}]
                ],
                "region": "${AWS::Region}",
                "period": 300
              }
            },
            {
              "type": "metric",
              "x": 12, "y": 0, "width": 12, "height": 6,
              "properties": {
                "title": "SQS Queue Depth",
                "metrics": [
                  ["AWS/SQS", "ApproximateNumberOfMessagesVisible", "QueueName", "${ProcessingQueue.QueueName}", {"stat": "Sum"}],
                  ["AWS/SQS", "ApproximateNumberOfMessagesVisible", "QueueName", "${ProcessingDLQ.QueueName}", {"stat": "Sum", "color": "#d62728"}]
                ],
                "region": "${AWS::Region}",
                "period": 60
              }
            },
            {
              "type": "metric",
              "x": 0, "y": 6, "width": 12, "height": 6,
              "properties": {
                "title": "ECS CPU & Memory Utilization",
                "metrics": [
                  ["AWS/ECS", "CPUUtilization", "ClusterName", "${ECSCluster}", {"stat": "Average"}],
                  ["AWS/ECS", "MemoryUtilization", "ClusterName", "${ECSCluster}", {"stat": "Average"}]
                ],
                "region": "${AWS::Region}",
                "period": 300
              }
            },
            {
              "type": "metric",
              "x": 12, "y": 6, "width": 12, "height": 6,
              "properties": {
                "title": "DynamoDB Read/Write Capacity",
                "metrics": [
                  ["AWS/DynamoDB", "ConsumedReadCapacityUnits", "TableName", "${JobsTable}", {"stat": "Sum"}],
                  ["AWS/DynamoDB", "ConsumedWriteCapacityUnits", "TableName", "${JobsTable}", {"stat": "Sum"}]
                ],
                "region": "${AWS::Region}",
                "period": 300
              }
            },
            {
              "type": "metric",
              "x": 0, "y": 12, "width": 12, "height": 6,
              "properties": {
                "title": "Pipeline Throughput (EMF: Lightship/Backend)",
                "metrics": [
                  ["Lightship/Backend", "PipelineStarts", "Service", "lightship-backend", "Environment", "${Environment}", {"stat": "Sum"}],
                  ["Lightship/Backend", "PipelineCompletions", "Service", "lightship-backend", "Environment", "${Environment}", {"stat": "Sum", "color": "#2ca02c"}],
                  ["Lightship/Backend", "PipelineFailures", "Service", "lightship-backend", "Environment", "${Environment}", {"stat": "Sum", "color": "#d62728"}]
                ],
                "region": "${AWS::Region}",
                "period": 300
              }
            },
            {
              "type": "metric",
              "x": 12, "y": 12, "width": 12, "height": 6,
              "properties": {
                "title": "VisionLabeler Activity (Florence-2 + UFLDv2)",
                "metrics": [
                  ["Lightship/Backend", "VisionLabelerCalls", "Service", "lightship-backend", "Environment", "${Environment}", {"stat": "Sum"}],
                  ["Lightship/Backend", "VisionLabelerInstancesKept", "Service", "lightship-backend", "Environment", "${Environment}", {"stat": "Sum", "color": "#2ca02c"}],
                  ["Lightship/Backend", "VisionLabelerFallbackTriggered", "Service", "lightship-backend", "Environment", "${Environment}", {"stat": "Sum"}],
                  ["Lightship/Backend", "LaneBackendLanesKept", "Service", "lightship-backend", "Environment", "${Environment}", {"stat": "Sum", "color": "#9467bd"}]
                ],
                "region": "${AWS::Region}",
                "period": 300
              }
            },
            {
              "type": "metric",
              "x": 0, "y": 18, "width": 24, "height": 6,
              "properties": {
                "title": "Stage Duration p50/p95 (milliseconds)",
                "metrics": [
                  [{"expression": "SEARCH('{Lightship/Backend,Service,Environment,Stage} MetricName=\"StageDurationMs\"', 'Average', 300)", "label": "avg", "id": "e1"}],
                  [{"expression": "SEARCH('{Lightship/Backend,Service,Environment,Stage} MetricName=\"StageDurationMs\"', 'p95', 300)", "label": "p95", "id": "e2"}]
                ],
                "region": "${AWS::Region}",
                "view": "timeSeries",
                "stacked": false,
                "period": 300
              }
            }
          ]
        }

Outputs:
  # Application Load Balancer
  LoadBalancerDNS:
    Description: DNS name of the Application Load Balancer
    Value: !GetAtt ApplicationLoadBalancer.DNSName
    Export:
      Name: !Sub '${ProjectName}-${Environment}-alb-dns'

  LoadBalancerURL:
    Description: URL of the Application Load Balancer
    Value: !If
      - HasCertificate
      - !Sub 'https://${ApplicationLoadBalancer.DNSName}'
      - !Sub 'http://${ApplicationLoadBalancer.DNSName}'
    Export:
      Name: !Sub '${ProjectName}-${Environment}-alb-url'

  LoadBalancerArn:
    Description: ARN of the Application Load Balancer
    Value: !Ref ApplicationLoadBalancer
    Export:
      Name: !Sub '${ProjectName}-${Environment}-alb-arn'

  # Target Groups
  FrontendTargetGroupArn:
    Description: ARN of the Frontend Target Group (for ECS service)
    Value: !Ref FrontendTargetGroup
    Export:
      Name: !Sub '${ProjectName}-${Environment}-frontend-target-group-arn'

  BackendTargetGroupArn:
    Description: ARN of the Backend Target Group (for Lambda function)
    Value: !Ref BackendTargetGroup
    Export:
      Name: !Sub '${ProjectName}-${Environment}-backend-target-group-arn'

  FrontendServiceName:
    Description: Frontend ECS Service Name
    Value: !GetAtt FrontendECSService.Name
    Export:
      Name: !Sub '${ProjectName}-${Environment}-frontend-service-name'

  FrontendServiceArn:
    Description: Frontend ECS Service ARN
    Value: !Ref FrontendECSService
    Export:
      Name: !Sub '${ProjectName}-${Environment}-frontend-service-arn'

  FrontendTaskDefinitionArn:
    Description: Frontend ECS task definition ARN
    Value: !Ref FrontendTaskDefinition
    Export:
      Name: !Sub '${ProjectName}-${Environment}-frontend-task-arn'

  # ECR Repositories
  FrontendECRRepositoryUri:
    Description: Frontend ECR Repository URI
    Value: !Sub '${AWS::AccountId}.dkr.ecr.${AWS::Region}.amazonaws.com/${FrontendECRRepository}'
    Export:
      Name: !Sub '${ProjectName}-${Environment}-frontend-ecr-uri'

  FrontendECRRepositoryName:
    Description: Frontend ECR Repository Name
    Value: !Ref FrontendECRRepository
    Export:
      Name: !Sub '${ProjectName}-${Environment}-frontend-ecr-name'

  BackendECRRepositoryUri:
    Description: Backend ECR Repository URI
    Value: !Sub '${AWS::AccountId}.dkr.ecr.${AWS::Region}.amazonaws.com/${BackendECRRepository}'
    Export:
      Name: !Sub '${ProjectName}-${Environment}-backend-ecr-uri'

  BackendECRRepositoryName:
    Description: Backend ECR Repository Name
    Value: !Ref BackendECRRepository
    Export:
      Name: !Sub '${ProjectName}-${Environment}-backend-ecr-name'

  # S3 Buckets
  LanceDBBucketName:
    Description: LanceDB S3 Bucket Name
    Value: !Ref LanceDBBucket
    Export:
      Name: !Sub '${ProjectName}-${Environment}-lancedb-bucket'

  ConversationResultsBucketName:
    Description: Conversation Results S3 Bucket Name
    Value: !Ref ConversationResultsBucket
    Export:
      Name: !Sub '${ProjectName}-${Environment}-conversations-bucket'

  CustomDatasourcesBucketName:
    Description: Custom Datasources S3 Bucket Name (external bucket)
    Value: !Sub 's3-${ProjectName}-custom-datasources-${AWS::Region}'
    Export:
      Name: !Sub '${ProjectName}-${Environment}-custom-datasources-bucket'

  # ECS Cluster
  ECSClusterName:
    Description: ECS Cluster Name
    Value: !Ref ECSCluster
    Export:
      Name: !Sub '${ProjectName}-${Environment}-ecs-cluster'

  ECSClusterArn:
    Description: ECS Cluster ARN
    Value: !GetAtt ECSCluster.Arn
    Export:
      Name: !Sub '${ProjectName}-${Environment}-ecs-cluster-arn'

  # Security Groups
  ECSSecurityGroupId:
    Description: ECS Security Group ID
    Value: !Ref ECSSecurityGroup
    Export:
      Name: !Sub '${ProjectName}-${Environment}-ecs-sg-id'

  ALBSecurityGroupId:
    Description: ALB Security Group ID
    Value: !Ref ALBSecurityGroup
    Export:
      Name: !Sub '${ProjectName}-${Environment}-alb-sg-id'

  LambdaSecurityGroupId:
    Description: Lambda Security Group ID
    Value: !Ref LambdaSecurityGroup
    Export:
      Name: !Sub '${ProjectName}-${Environment}-lambda-sg-id'

  VPCEndpointSecurityGroupId:
    Description: VPC endpoint security group ID
    Value: !Ref VPCEndpointSecurityGroup
    Export:
      Name: !Sub '${ProjectName}-${Environment}-vpce-sg-id'

  # IAM Roles
  ECSTaskExecutionRoleArn:
    Description: ECS Task Execution Role ARN
    Value: !GetAtt ECSTaskExecutionRole.Arn
    Export:
      Name: !Sub '${ProjectName}-${Environment}-ecs-execution-role-arn'

  ECSTaskRoleArn:
    Description: ECS Task Role ARN
    Value: !GetAtt ECSTaskRole.Arn
    Export:
      Name: !Sub '${ProjectName}-${Environment}-ecs-task-role-arn'

  LambdaExecutionRoleArn:
    Description: Lambda Execution Role ARN
    Value: !GetAtt LambdaExecutionRole.Arn
    Export:
      Name: !Sub '${ProjectName}-${Environment}-lambda-role-arn'

  BackendLambdaFunctionArn:
    Description: Backend Lambda function ARN
    Value: !GetAtt BackendLambdaFunction.Arn
    Export:
      Name: !Sub '${ProjectName}-${Environment}-backend-lambda-arn'

  BackendLambdaFunctionName:
    Description: Backend Lambda function name
    Value: !Ref BackendLambdaFunction
    Export:
      Name: !Sub '${ProjectName}-${Environment}-backend-lambda-name'

  # CloudWatch Log Groups
  FrontendLogGroupName:
    Description: Frontend CloudWatch Log Group Name
    Value: !Ref FrontendLogGroup
    Export:
      Name: !Sub '${ProjectName}-${Environment}-frontend-log-group'

  BackendLogGroupName:
    Description: Backend CloudWatch Log Group Name
    Value: !Ref BackendLogGroup
    Export:
      Name: !Sub '${ProjectName}-${Environment}-backend-log-group'

  # KMS
  KMSKeyArn:
    Description: KMS CMK ARN for encryption at rest
    Value: !GetAtt LightshipKMSKey.Arn
    Export:
      Name: !Sub '${ProjectName}-${Environment}-kms-key-arn'

  KMSKeyId:
    Description: KMS CMK ID
    Value: !Ref LightshipKMSKey
    Export:
      Name: !Sub '${ProjectName}-${Environment}-kms-key-id'

  # Processing Bucket
  ProcessingBucketName:
    Description: Main Processing S3 Bucket Name (dashcam pipeline)
    Value: !Ref ProcessingBucket
    Export:
      Name: !Sub '${ProjectName}-${Environment}-processing-bucket'

  ProcessingBucketArn:
    Description: Main Processing S3 Bucket ARN
    Value: !GetAtt ProcessingBucket.Arn
    Export:
      Name: !Sub '${ProjectName}-${Environment}-processing-bucket-arn'

  # DynamoDB
  JobsTableName:
    Description: DynamoDB Jobs Table Name
    Value: !Ref JobsTable
    Export:
      Name: !Sub '${ProjectName}-${Environment}-jobs-table'

  JobsTableArn:
    Description: DynamoDB Jobs Table ARN
    Value: !GetAtt JobsTable.Arn
    Export:
      Name: !Sub '${ProjectName}-${Environment}-jobs-table-arn'

  # SQS
  ProcessingQueueUrl:
    Description: SQS Processing Queue URL
    Value: !Ref ProcessingQueue
    Export:
      Name: !Sub '${ProjectName}-${Environment}-processing-queue-url'

  ProcessingQueueArn:
    Description: SQS Processing Queue ARN
    Value: !GetAtt ProcessingQueue.Arn
    Export:
      Name: !Sub '${ProjectName}-${Environment}-processing-queue-arn'

  ProcessingDLQUrl:
    Description: SQS Processing DLQ URL
    Value: !Ref ProcessingDLQ
    Export:
      Name: !Sub '${ProjectName}-${Environment}-processing-dlq-url'

  # SNS
  NotificationTopicArn:
    Description: SNS Notification Topic ARN
    Value: !Ref NotificationTopic
    Export:
      Name: !Sub '${ProjectName}-${Environment}-notification-topic-arn'

  # Secrets Manager
  ConfigSecretArn:
    Description: Secrets Manager Config Secret ARN
    Value: !Ref ConfigSecret
    Export:
      Name: !Sub '${ProjectName}-${Environment}-config-secret-arn'

  # Step Functions
  StepFunctionsExecutionRoleArn:
    Description: Step Functions Execution Role ARN
    Value: !GetAtt StepFunctionsExecutionRole.Arn
    Export:
      Name: !Sub '${ProjectName}-${Environment}-sfn-execution-role-arn'

  PipelineStateMachineArn:
    Description: Step Functions pipeline ARN
    Value: !Ref LightshipPipelineStateMachine
    Export:
      Name: !Sub '${ProjectName}-${Environment}-pipeline-state-machine-arn'

  # Worker
  WorkerSecurityGroupId:
    Description: Worker ECS Security Group ID
    Value: !Ref WorkerSecurityGroup
    Export:
      Name: !Sub '${ProjectName}-${Environment}-worker-sg-id'

  WorkerLogGroupName:
    Description: Worker CloudWatch Log Group Name
    Value: !Ref WorkerLogGroup
    Export:
      Name: !Sub '${ProjectName}-${Environment}-worker-log-group'

  # Dashboard
  DashboardName:
    Description: CloudWatch Dashboard Name
    Value: !Ref LightshipDashboard
    Export:
      Name: !Sub '${ProjectName}-${Environment}-dashboard'
